[submodule "Glue/vendor/spdlog"]
	path = Glue/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Glue/vendor/GLFW"]
	path = Glue/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Glue/vendor/imgui"]
	path = Glue/vendor/imgui
	url = https://github.com/TheCherno/imgui
